@use "global" as *;
body {
  background: #333;
}
.swiper__box {
  position: relative;
  margin-bottom: rem(50);
}
.swiper-container {
  width: 600px;
  height: 300px;
  margin: 40px auto;
  overflow: hidden;
}

.swiper-slide {
  padding-top: 66.6%;
  position: relative;
}

.swiper-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

// slider1
.swiper-button-prev1,
.swiper-button-next1 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev1.swiper-button-disabled,
.swiper-button-next1.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev1.swiper-button-hidden,
.swiper-button-next1.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev1,
.swiper-navigation-disabled .swiper-button-next1 {
  display: none !important;
}
.swiper-button-prev1:after,
.swiper-button-next1:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev1,
.swiper-rtl .swiper-button-next1 {
  left: 10px;
  right: auto;
}
.swiper-button-prev1:after,
.swiper-rtl .swiper-button-next1:after {
  content: "prev";
}
.swiper-button-next1,
.swiper-rtl .swiper-button-prev1 {
  right: 10px;
  left: auto;
}
.swiper-button-next1:after,
.swiper-rtl .swiper-button-prev1:after {
  content: "next";
}
// slider2
.swiper-button-prev2,
.swiper-button-next2 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev2.swiper-button-disabled,
.swiper-button-next2.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev2.swiper-button-hidden,
.swiper-button-next2.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev2,
.swiper-navigation-disabled .swiper-button-next2 {
  display: none !important;
}
.swiper-button-prev2:after,
.swiper-button-next2:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev2,
.swiper-rtl .swiper-button-next2 {
  left: 10px;
  right: auto;
}
.swiper-button-prev2:after,
.swiper-rtl .swiper-button-next2:after {
  content: "prev";
}
.swiper-button-next2,
.swiper-rtl .swiper-button-prev2 {
  right: 10px;
  left: auto;
}
.swiper-button-next2:after,
.swiper-rtl .swiper-button-prev2:after {
  content: "next";
}
// slider3
.swiper-button-prev3,
.swiper-button-next3 {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev3.swiper-button-disabled,
.swiper-button-next3.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev3.swiper-button-hidden,
.swiper-button-next3.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev3,
.swiper-navigation-disabled .swiper-button-next3 {
  display: none !important;
}
.swiper-button-prev3:after,
.swiper-button-next3:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-button-prev3,
.swiper-rtl .swiper-button-next3 {
  left: 10px;
  right: auto;
}
.swiper-button-prev3:after,
.swiper-rtl .swiper-button-next3:after {
  content: "prev";
}
.swiper-button-next3,
.swiper-rtl .swiper-button-prev3 {
  right: 10px;
  left: auto;
}
.swiper-button-next3:after,
.swiper-rtl .swiper-button-prev3:after {
  content: "next";
}
